parse() incorrectly parses expires value

The `parse()` method splits on either ; or , 

```
sub parse {                                                                                                                                              
  my ($self,$raw_cookie) = @_;                                                                                                                           
  return wantarray ? () : {} unless $raw_cookie;                                                                                                         
                                                                                                                                                         
  my %results;                                                                                                                                           
                                                                                                                                                         
  my @pairs = split("[;,] ?",$raw_cookie);
```

...but according to RFC 6265 cookie strings should be separated only by a semicolon ([RFC 6265](https://datatracker.ietf.org/doc/html/rfc6265#section-4.1))

```
 set-cookie-header = "Set-Cookie:" SP set-cookie-string
 set-cookie-string = cookie-pair *( ";" SP cookie-av )
 cookie-pair       = cookie-name "=" cookie-value
```

Example that shows issue:

```
#!/usr/bin/env perl                                                                                                                                                                                                 
                                                                                                                                                                                                                    
use strict;                                                                                                                                                                                                         
use warnings;                                                                                                                                                                                                       

use Data::Dumper;                                                                                                                                                                                                   
                                                                                                                                                                                                                    
use CGI::Cookie;                                                                                                                                                                                                    

my $c = CGI::Cookie->new(                                                                                                                                                                                           
  -name      => 'foo',                                                                                                                                                                                              
  -value     => 'bar',                                                                                                                                                                                              
  -expires   => '+3M',                                                                                                                                                                                              
  '-max-age' => '+3M',                                                                                                                                                                                              
  -domain    => '.capricorn.com',                                                                                                                                                                                   
  -path      => '/cgi-bin/database',                                                                                                                                                                                
  -secure    => 1,                                                                                                                                                                                                  
  -samesite  => "Lax",                                                                                                                                                                                              
  -priority  => "High",                                                                                                                                                                                             
);                                                                                                                                                                                                                  
                                                                                                                                                                                                                    
$c->bake();                                                                                                                                                                                                         
                                                                                                                                                                                                                    
my %cookies                                                                                                                                                                                                         
  = $c->parse(                                                                                                                                                                                                      
  "foo=bar; domain=.capricorn.com; path=/cgi-bin/database; expires=Mon, 07 Apr 2025 21:32:31 GMT; max-age=7776000; secure; SameSite=Lax; Priority=High"                                                             
  );                                                                                                                                                                                                                
                                                                                                                                                                                                                    
print Dumper( [ cookies => \%cookies ] );                                                                                                                                                                           
                                                                                                                                                                                                                    
1;
```

```
Set-Cookie: foo=bar; domain=.capricorn.com; path=/cgi-bin/database; expires=Mon, 07 Apr 2025 21:48:21 GMT; max-age=7776000; secure; SameSite=Lax; Priority=High
Date: Tue, 07 Jan 2025 21:48:21 GMT
Content-Type: text/html; charset=ISO-8859-1

$VAR1 = [
          'cookies',
          {
            'max-age' => bless( {
                                  'value' => [
                                               '7776000'
                                             ],
                                  'name' => 'max-age',
                                  'path' => '/'
                                }, 'CGI::Cookie' ),
            'domain' => bless( {
                                 'value' => [
                                              '.capricorn.com'
                                            ],
                                 'name' => 'domain',
                                 'path' => '/'
                               }, 'CGI::Cookie' ),
            'SameSite' => bless( {
                                   'value' => [
                                                'Lax'
                                              ],
                                   'name' => 'SameSite',
                                   'path' => '/'
                                 }, 'CGI::Cookie' ),
            'foo' => bless( {
                              'value' => [
                                           'bar'
                                         ],
                              'name' => 'foo',
                              'path' => '/'
                            }, 'CGI::Cookie' ),
            'path' => bless( {
                               'value' => [
                                            '/cgi-bin/database'
                                          ],
                               'name' => 'path',
                               'path' => '/'
                             }, 'CGI::Cookie' ),
            'Priority' => bless( {
                                   'value' => [
                                                'High'
                                              ],
                                   'name' => 'Priority',
                                   'path' => '/'
                                 }, 'CGI::Cookie' ),
            'expires' => bless( {
                                  'value' => [
                                               'Mon'
                                             ],
                                  'name' => 'expires',
                                  'path' => '/'
                                }, 'CGI::Cookie' )
          }
        ];
```

I groked the commit logs with `git log --reverse -p -G"\[;,\]"` and found:

```
commit a6b5b931f8f546b4ff887687f0776ad3eacdcaf9
Author: lstein <lstein>
Date:   Mon Mar 19 13:24:54 2007 +0000

    added patch from Allen Day that makes cookies RFC2109 complaint
```

So it appears the split on comma was added to honour [RFC 2109](https://datatracker.ietf.org/doc/html/rfc2109) which states: "Note: For backward compatibility, the separator in the Cookie header is semi-colon (;) everywhere.  A server should also accept comma (,) as the separator between cookie-values for future compatibility."

This was also said in [RFC 2965](https://datatracker.ietf.org/doc/html/rfc2965), but then removed in [RFC 6265](https://datatracker.ietf.org/doc/html/rfc6265). I guess they decided the future didn't need commas. However, digging further I see other frameworks do still split on commas - this will be for backwards compatibility.

I believe the real bug here is that the value needs to be quoted if it contains a separator character, and currently CGI::Cookie is not DTRT with this:

```perl
#!/usr/bin/env perl

use strict;
use warnings;

use Data::Dumper;
use CGI::Cookie;

my %cookies = CGI::Cookie->parse(
    qq{foo=bar; expires="Mon, 07 Apr 2025 21:32:31 GMT"; max-age=7776000}
);

print Dumper( [ cookies => \%cookies ] );
```

Gives:

```
$VAR1 = [
          'cookies',
          {
            'foo' => bless( {
                              'value' => [
                                           'bar'
                                         ],
                              'path' => '/',
                              'name' => 'foo'
                            }, 'CGI::Cookie' ),
            'max-age' => bless( {
                                  'value' => [
                                               '7776000'
                                             ],
                                  'name' => 'max-age',
                                  'path' => '/'
                                }, 'CGI::Cookie' ),
            'expires' => bless( {
                                  'name' => 'expires',
                                  'path' => '/',
                                  'value' => [
                                               '"Mon'
                                             ]
                                }, 'CGI::Cookie' )
          }
        ];
```

I think we need to maintain backwards compatibility and still split on both `;` and `'`, however we need to fix the bug where those separators inside quotes shouldn't cause a split.

Hmmm...that would rely on frameworks to also respect the notion of quoting the expires date, which, by doing some basic forensics on many sites I visit is not done.  I have not found a case where the expires date is actually quoted so relying on that as part of a parsing strategy seems as though it won't actually help the situation.  FWIW, just because other frameworks are not compliant with the current RFC doesn't necessarily mean this module should follow the piped piper... ;-)

@rlauer6 - i've pushed a tweak (see above) can you test?

> FWIW, just because other frameworks are not compliant with the current RFC doesn't necessarily mean this module should follow the piped piper... ;-)

Yep, unfortunately the main concern with CGI.pm is backwards compatibility as it's still very widely deployed and much of the logic predates even the earliest RFCs. We need to also retain bugwards compatibility for the most part. I think the tweak i've pushed here finds a compromise.

I tested this, but it still does not parse unquoted expires correctly, so I'm not sure how this addresses the current state of things where many sites do not quote the expires date?

I'll take a quick stab at it and push a PR...

Ta! I've pushed v4.67 to CPAN

Resolved by 0e6b017a46c42cff63ce6ff567c7ce81a1a75317